@charset "UTF-8";

@font-face {
  font-family: "Bebas Neue";
  font-display: swap;
  src: url("../fonts/AA Bebas Neue.woff2") format("woff2"), url("../fonts/AA Bebas Neue.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "VCROSD Mono";
  font-display: swap;
  src: url("../fonts/3117-font.woff2") format("woff2"), url("../fonts/3117-font.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "arista";
  font-display: swap;
  src: url("../fonts/arista.woff2") format("woff2"), url("../fonts/arista.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Reboard";
  font-display: swap;
  src: url("../fonts/Reboard.woff2") format("woff2"), url("../fonts/Reboard.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Russian";
  font-display: swap;
  src: url("../fonts/Russian.woff2") format("woff2"), url("../fonts/Russian.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "San Marino";
  font-display: swap;
  src: url("../fonts/SanMarinoRegular.woff2") format("woff2"), url("../fonts/SanMarinoRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Asimov pro";
  font-display: swap;
  src: url("../fonts/413-font.woff2") format("woff2"), url("../fonts/413-font.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Solomon";
  font-display: swap;
  src: url("../fonts/SolomonSans-Bold.woff2") format("woff2"), url("../fonts/SolomonSans-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-atomichhub:before {
  content: "\e900";
}

._icon-discord:before {
  content: "\e901";
}

._icon-twitter:before {
  content: "\e902";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 10.4px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Arista";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Arista";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
  height: 100vh;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.wrapper._loaded {
  opacity: 1;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content_video {
  height: 100%;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  width: 90%;
  height: 616px;
}

.popup__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 30;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: url("../img/icons/close-1.svg") 0 0 no-repeat;
}

._no-webp .popup__advertising{
  background: url("../img/roadmap/advert_bg.jpg") center/cover no-repeat; }

.popup__packs {
  background: #ebe6e0;
}

.popup__sending {
  background: #b4bce5;
}

.popup__video {
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

.popup-box {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.popup-box__bigpack {
  position: absolute;
  top: 100px;
  right: 0;
  width: 25%;
  height: 100%;
  z-index: 2;
}

.popup-box__minipack {
  position: absolute;
  top: 100px;
  right: 300px;
  width: 25%;
  height: 100%;
  z-index: 1;
}

.popup-box__money {
  position: absolute;
  top: 45px;
  left: 260px;
  width: 25%;
  height: 100%;
  z-index: 1;
}

.popup-box__raccoon {
  position: absolute;
  top: 40px;
  right: 120px;
  width: 25%;
  height: 100%;
  z-index: 1;
}

.popup-box__dollars {
  position: absolute;
  top: 91px;
  left: 355px;
  width: 25%;
  height: 20%;
  z-index: 1;
}

.popup-box__many-dollars {
  position: absolute;
  bottom: 89px;
  left: 0;
  width: 25%;
  height: 20%;
  z-index: 1;
}

.popup-box__site {
  position: absolute;
  bottom: 0px;
  right: 250px;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.popup-box__pullover {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.popup-box__lable {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.popup-box__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-left: 35px;
  max-width: 662px;
  position: relative;
}

.popup-box__row_holders::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -10px;
  width: 20px;
  height: 121px;
  background: #ff2e3c;
  border-radius: 10px;
}

.popup-box__row_holders::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 30px;
  width: 121px;
  height: 20px;
  background: #ff2e3c;
  border-radius: 10px;
}

.popup-box__row_top {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 100px;
}

.popup-box__title {
  font-family: "Bebas Neue";
  font-size: calc(20px + 14.4 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-bottom: calc(20px + 30 * ((100vw - 320px) / 1600));
}

.popup-box__title_black {
  color: #302f2e;
  padding-bottom: 10px;
}

.popup-box__text {
  max-width: 680px;
  font-family: "VCROSD Mono";
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.popup-box__text p {
  padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
}

.popup-box__text_gray {
  color: #84817e;
  padding-bottom: calc(20px + 55 * ((100vw - 320px) / 1600));
}

.popup-box__text_red {
  color: #e34a55;
}

.popup-box__text_black {
  color: #020202;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  z-index: 10;
  -webkit-transition: height 0.5s ease 0s;
  -o-transition: height 0.5s ease 0s;
  transition: height 0.5s ease 0s;
}

.header._light .menu__link {
  border-radius: 0;
  background-color: transparent;
}

.header._dark .header__social-icon::before {
  color: #ebe6e0;
}

.header._dark .menu__link {
  color: #b5b1ac;
  border-radius: 0;
  background-color: transparent;
}

.header._dark .menu__body._active .menu__link {
  color: #000000;
}

.header._dark .menu__body._active .header__social-icon::before {
  color: #000;
}

.header._dark .icon-menu span {
  background-color: #b5b1ac;
}

.header._dark .icon-menu._active span {
  background-color: #000;
}

.header__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 150px 1fr 150px;
      grid-template: 1fr/150px 1fr 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
  height: 100%;
  position: relative;
}

.header__logo {
  font-family: Reboard;
  font-size: 16.8px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 9px;
  background-color: #c13540;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 3;
}

.header__menu {
  -ms-grid-column-align: end;
      justify-self: end;
  padding-right: 150px;
}

.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__social p {
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #000000;
  font-size: 22px;
}

.header__social-icon::before {
  color: #000;
  font-size: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__social-icon_atomic::before {
  font-size: 26px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 35px;
  padding-top: 90px;
  padding-right: 10px;
}

.menu__link {
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
  font-size: 22px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link._active {
  background-color: #f5f4f2;
}

.icon-menu {
  display: none;
}

.wrapper-party {
  position: relative;
}

.main-party {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main-party__image {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.main-party__image_bg {
  display: none;
}

.main-party__image_raccoon {
  position: fixed;
  bottom: 0;
  right: 50px;
  z-index: 2;
  opacity: 0.2;
  max-width: calc(70px + 696 * ((100vw - 320px) / 1600));
}

.main-party__image_raccoon img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.main-party__pagination {
  display: none;
}

.main-party__body {
  height: 100%;
}

.main-party__slider {
  width: 100%;
  height: 700px;
}

.swiper-pagination-bullet {
  width: 3px;
  height: 93px;
  background-color: #dadada;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #b13c45;
}

.item-main-party {
  position: relative;
}

.item-main-party__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.item-main-party__title {
  font-family: Solomon;
  font-size: calc(24px + 27.2 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #020202;
  max-width: 290px;
  padding-bottom: 45px;
  text-transform: uppercase;
}

.item-main-party__title span {
  color: #e6e6e6;
}

.item-main-party__title_no-main {
  padding-bottom: 35px;
}

.item-main-party__sub-title {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #020202;
  font-family: "VCROSD Mono";
  padding-bottom: 24px;
}

.item-main-party__sub-title span {
  color: #e6e6e6;
}

.item-main-party__sub-title_secret {
  padding-bottom: 0;
}

.item-main-party__text {
  font-family: "VCROSD Mono";
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #020202;
  padding-bottom: 35px;
}

.item-main-party__text p:not(:last-child) {
  padding-bottom: 20px;
}

.item-main-party__text_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.item-main-party__text_btn span {
  padding: 0 12px;
}

.item-main-party__text_btn p {
  padding-bottom: 0 !important;
}

.item-main-party__text_list p {
  padding-bottom: 0 !important;
}

.item-main-party__text_list p:first-child {
  padding-bottom: 20px !important;
}

.item-main-party__text_line {
  position: relative;
}

.item-main-party__text_line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
}

.item-main-party__arrow-next {
  padding: 5px;
  color: #dadada;
  background-color: #000;
  border-radius: 5.5px;
  cursor: pointer;
  font-size: 13.5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 3;
}

.item-main-party__arrow-next span:first-child {
  display: none;
}

.item-main-party__arrow-next span:nth-child(2) {
  display: none;
}

.item-main-party__item-images {
  padding-bottom: 50px;
}

.item-main-party__date {
  padding-bottom: 35px;
}

.item-main-party__time {
  color: #ff3c51;
}

.item-main-party__time-text p:not(:last-child) {
  padding-bottom: 20px;
}

.text {
  font-family: "VCROSD Mono";
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.item-images-artists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item-images-artists__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 257px;
          flex: 0 1 257px;
  border: 1.9px solid #c13540;
  height: 257px;
  position: relative;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.item-images-artists__block::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.01)), to(rgba(255, 255, 255, 0.5)));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.5));
  background: linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.5));
  z-index: 1;
}

.item-images-artists__block:nth-child(2) {
  margin-left: -1.9px;
}

.item-images-artists__box-image {
  max-width: 205px;
  margin: 0 auto;
  position: relative;
  top: 7px;
}

.item-images-artists__box-image_two {
  top: 31px;
}

.item-images-artists__image {
  padding: 0px 0px 120.5% 0px;
}

.item-images-artists__image_two {
  padding: 0px 0px 108.5% 0px;
}

.item-images-artists__name {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: Russian;
  font-size: 26.1px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2f2d2d;
  z-index: 1;
}

.grid-party {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 15px;
}

.grid-party__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 13px 5fr;
      grid-template: 1fr/1fr 5fr;
  -webkit-column-gap: 13px;
     -moz-column-gap: 13px;
          column-gap: 13px;
  background-color: #e5e5e5;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.grid-party__info {
  font-family: "VCROSD Mono";
  font-size: 23.4px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.grid-party__text {
  font-size: 14px;
}

.sub-text {
  font-family: "VCROSD Mono";
  font-size: 12.6px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #020202;
  padding-bottom: 28px;
}

.sub-text p:first-child {
  padding-bottom: 20px;
}

.sub-text__raccoon-block {
  padding-bottom: 35px;
}

.sub-text__time {
  padding-bottom: 35px;
}

.sub-text__time p:nth-child(2) {
  padding-bottom: 20px;
}

.sub-text_raccoon {
  padding-bottom: 0 !important;
}

.sub-text__date {
  padding-bottom: 0px !important;
}

.sub-text_social {
  padding-bottom: 0 !important;
}

.sub-text_gray {
  color: #888686;
}

.sub-text_green {
  color: #57c571;
}

.sub-text_green-1 {
  color: #49d528;
}

.sub-text_common {
  color: #7d7d7d;
}

.sub-text_rare {
  color: #8d765e;
}

.sub-text_epic {
  color: #9578df;
}

.sub-text_legends {
  color: #e5d957;
}

.sub-text_red {
  color: #dd3e51;
}

.sub-text_discord {
  color: #787676;
}

.purpose {
  background-color: #000000;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: auto;
}

.purpose__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 700px;
  padding-top: calc(0px + 50 * ((100vw - 320px) / 1600));
  padding-left: 105px;
}

.purpose__title {
  font-family: "Solomon";
  font-size: calc(30px + 66 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #ebe7df;
  position: relative;
  margin-bottom: 70px;
}

.purpose__title span {
  color: #151513;
}

.purpose__title::before {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  background-color: #ebe6e0;
  width: 85%;
  height: 3px;
}

.purpose__box-text p {
  font-family: "VCROSD Mono";
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  line-height: 43px;
  letter-spacing: 0.02em;
  color: #ebe6e0;
}

.purpose__box-text p:not(:last-child) {
  padding-bottom: 60px;
}

.purpose__box-text p:first-child {
  max-width: 545px;
}

.purpose__box-text p:last-child {
  max-width: 700px;
}

.roadmap {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.roadmap__item {
  padding-top: 190px;
}

.roadmap__box {
  padding: 0 35px 35px 35px;
}

.roadmap__bg {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.roadmap__text-box {
  position: relative;
}

.roadmap__title {
  font-family: "Solomon";
  font-size: calc(36px + 15.8 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #020202;
  padding-bottom: calc(10px + 20 * ((100vw - 320px) / 1600));
}

.roadmap__title span {
  color: #e6e6e6;
}

.roadmap__text {
  max-width: 660px;
  padding-bottom: calc(10px + 20 * ((100vw - 320px) / 1600));
}

.row-roadmap__item {
  padding: 5px;
}

.item-row-roadmap-left__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-row-roadmap-left__item {
  position: relative;
  overflow: hidden;
  background-color: #ebe6e0;
}

.item-row-roadmap-left__big {
  height: calc(100px + 277 * ((100vw - 320px) / 1600));
  display: block;
}

.item-row-roadmap-left__image {
  padding: 0px 0px 90.5% 0px;
}

.item-row-roadmap-left__image-three {
  position: absolute;
  top: 13px;
  right: -30px;
  width: 75%;
  z-index: 2;
}

.item-row-roadmap-left__image-three img {
  max-width: 100%;
  max-height: 100%;
}

.item-row-roadmap-left__image-dollars {
  position: absolute;
  bottom: -32px;
  left: 15px;
  width: 100%;
  z-index: 2;
}

.item-row-roadmap-left__image-dollars img {
  max-width: 20%;
  max-height: 20%;
  left: auto;
  left: 0px;
  bottom: 0px;
  opacity: 0.7;
}

.item-row-roadmap-left__dollar-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.item-row-roadmap-left__dollar-img img {
  position: absolute;
  max-width: 15%;
  max-height: 16%;
  left: auto;
  right: 24%;
  bottom: 49%;
  opacity: 0.7;
}

.item-row-roadmap-left__cent-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.item-row-roadmap-left__cent-img img {
  position: absolute;
  max-width: 6%;
  max-height: 14%;
  left: -1%;
  bottom: -3%;
  opacity: 0.7;
}

.item-row-roadmap-left__money-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.item-row-roadmap-left__money-img img {
  position: absolute;
  max-width: 32%;
  max-height: 45%;
  left: auto;
  right: 1%;
  bottom: 2%;
  opacity: 0.7;
}

.item-row-roadmap-left__small {
  height: calc(100px + 277 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-row-roadmap-left__bigpack-img {
  position: absolute;
  top: 0px;
  right: -90px;
  width: 100%;
  padding: 0px 0px 100% 0px;
  z-index: 2;
}

.item-row-roadmap-left__bigpack-img img {
  width: 70%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-row-roadmap-left__minipack-img {
  padding: 0px 0px 82.2006472492% 0px;
  position: absolute;
  top: 25px;
  right: -60px;
  width: 100%;
}

.item-row-roadmap-left__minipack-img img {
  width: 70%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.roadmap-text-box {
  position: absolute;
  top: calc(10px + 20 * ((100vw - 320px) / 1600));
  left: calc(0px + 27 * ((100vw - 320px) / 1600));
  width: 100%;
  font-family: "Asimov pro";
  z-index: 3;
}

.roadmap-text-box__title {
  font-size: calc(20px + 52.5 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #e0dcd5;
}

.roadmap-text-box__text {
  font-size: calc(12px + 2.6 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2f2d2d;
}

.roadmap-text-box__text_w {
  color: #fff;
}

.item-row-roadmap-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 10px 1fr;
  -ms-grid-columns: 1fr 10px 1fr;
      grid-template: 1fr 1fr/1fr 1fr;
  gap: 10px;
}

.item-row-roadmap-right__item {
  position: relative;
  overflow: hidden;
  background-color: #ebe6e0;
}

.item-row-roadmap-right__item_big {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  height: calc(100px + 277 * ((100vw - 320px) / 1600));
  background-color: #c13540;
}

.item-row-roadmap-right__item_small {
  height: calc(100px + 277 * ((100vw - 320px) / 1600));
}

.item-row-roadmap-right__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-row-roadmap-right__image-five {
  position: absolute;
  bottom: -28px;
  right: -60px;
  width: 75%;
  z-index: 2;
}

.item-row-roadmap-right__image-five img {
  max-width: 100%;
  max-height: 100%;
}

.item-row-roadmap-right__image-six {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 70%;
  z-index: 2;
}

.item-row-roadmap-right__image-six img {
  max-width: 100%;
  max-height: 100%;
}

.item-row-roadmap-right__image-seven {
  position: absolute;
  bottom: 0px;
  right: -30px;
  width: 25%;
  z-index: 2;
}

.item-row-roadmap-right__image-seven img {
  max-width: 100%;
  max-height: 100%;
}

.main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.main__box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 10px;
  position: relative;
  min-height: calc(200px + 500 * ((100vw - 320px) / 1600));
}

.main__title {
  font-family: Reboard;
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 0;
  opacity: 0.2;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: calc(20px + 301.3 * ((100vw - 320px) / 1600));
  letter-spacing: 0.04em;
  color: #c13540;
}

.main__image {
  position: absolute;
}

.main__image_left {
  max-width: calc(300px + 150 * ((100vw - 320px) / 1600));
  bottom: 115px;
  z-index: 1;
}

.main__image_left img {
  width: 100%;
}

.main__image_right {
  display: none;
  bottom: auto;
  top: 70px;
  right: 0;
  max-width: calc(100px + 218 * ((100vw - 320px) / 1600));
}

.main__image_right img {
  width: 100%;
}

.banner-sale {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 115px;
  padding: 5px 0;
  background-color: #c13540;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr;
  -ms-grid-columns: 1fr;
      grid-template: 2fr/1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "San Marino";
}

.banner-sale__packs {
  padding-right: 10px;
  padding-left: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 11px;
  position: relative;
  z-index: 3;
}

.banner-sale__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19.3px;
  font-size: 19.3px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #d35964;
  gap: 5px;
}

.banner-sale__sub-text {
  font-size: 35.3px;
  font-size: 35.3px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #fff9fa;
}

.banner-sale__sub-text span {
  color: #d35964;
}

.banner-sale__link {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-right: 40px;
  z-index: 3;
}

.banner-sale__link p {
  font-size: 37.4px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #232323;
  background-color: #fff;
  white-space: nowrap;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 17px;
  padding-right: 17px;
  -webkit-transition: all 0.3s ease 0.3s;
  -o-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

@media (min-width: 450px) {
  .item-main-party__title {
    max-width: 350px;
  }

  .item-row-roadmap-left__image-three {
    width: 60%;
  }
}

@media (min-width: 500px) {
  .grid-party {
    -ms-grid-rows: (1fr)[2];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  }

  .main__image_right {
    display: block;
  }
}

@media (min-width: 550px) {
  .item-main-party__arrow-next span:first-child {
    display: inline-block;
  }
}

@media (min-width: 560px) {
  .banner-sale {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr/1fr 1fr;
  }

  .banner-sale__packs {
    -ms-grid-column-align: start;
        justify-self: start;
  }

  .banner-sale__link {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (min-width: 600px) {
  .item-main-party__title {
    max-width: 500px;
  }

  .item-row-roadmap-left__bigpack-img {
    top: -30px;
    right: -180px;
  }

  .item-row-roadmap-left__minipack-img {
    right: -140px;
  }
}

@media (min-width: 640px) {
  .item-row-roadmap-left__image-three {
    width: 50%;
  }
}

@media (min-width: 700px) {
  .main__title {
    opacity: 1;
  }
}

@media (min-width: 800px) {
  .item-main-party__title {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .header__socials {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
    gap: 0;
  }

  .header__social p {
    display: none;
  }

  .menu__list {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 17px;
  }

  .menu__link {
    padding: 14px 16px 11px 16px;
    border-radius: 10px;
    background-color: #eeebe6;
    font-size: 10.2px;
  }

  .roadmap__bg {
    display: block;
  }

  .row-roadmap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 630px;
    margin: 0 -5px;
  }

  .row-roadmap__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 5px;
  }

  .item-row-roadmap-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -5px;
  }

  .item-row-roadmap-left__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5px;
    margin: 0;
  }

  .item-row-roadmap-left__item {
    opacity: 0.8;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }

  .item-row-roadmap-left__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .item-row-roadmap-left__big {
    height: calc(50px + 327 * ((100vw - 320px) / 1600));
  }

  .item-row-roadmap-left__small {
    height: calc(50px + 195 * ((100vw - 320px) / 1600));
  }

  .roadmap-text-box {
    bottom: calc(10px + 20 * ((100vw - 320px) / 1600));
    left: calc(0px + 27 * ((100vw - 320px) / 1600));
    top: auto;
  }

  .item-row-roadmap-right__item {
    opacity: 0.8;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }

  .item-row-roadmap-right__item_big {
    height: calc(50px + 195 * ((100vw - 320px) / 1600));
  }

  .item-row-roadmap-right__item_small {
    height: calc(50px + 327 * ((100vw - 320px) / 1600));
  }

  .item-row-roadmap-right__image-six {
    top: -55px;
    right: -45px;
    width: 120%;
  }

  .main {
    background-color: #ebe8e1;
  }
}

@media (min-width: 992px) and (any-hover: hover) {
  .item-row-roadmap-left__item:hover {
    opacity: 1;
  }

  .item-row-roadmap-right__item:hover {
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .main-party__image_bg {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: calc(300px + 1392 * ((100vw - 320px) / 1600));
  }

  .main-party__image_bg img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .main-party__image_raccoon {
    opacity: 1;
  }

  .main-party__pagination {
    display: block;
    position: absolute;
    top: 50%;
    left: 3%;
    width: 10px;
    z-index: 2;
  }

  .item-main-party__row {
    width: 50%;
    padding-left: 100px;
    padding-right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  .item-main-party__arrow-next span:nth-child(2) {
    display: inline-block;
  }

  .item-main-party__arrow-next span:last-child {
    display: none;
  }

  .banner-sale__link span {
    position: absolute;
    top: 5px;
    left: -5px;
    width: 100%;
    height: 100%;
    background-color: #d35964;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: -1;
  }
}

@media (min-width: 1024px) and (max-height: 750px) {
  .main-party__image_bg {
    max-width: calc(300px + 1000 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 1100px) {
  .main__title {
    top: 45%;
  }

  .main__title p:nth-child(2) {
    padding-left: 325px;
    margin-top: -40px;
  }

  .main__image_left {
    z-index: 2;
  }

  .main__image_left {
    bottom: 0;
    left: 2.5%;
  }

  .main__image_right {
    bottom: 35%;
  }

  .banner-sale {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 2fr 1fr;
        grid-template: 1fr/2fr 1fr;
  }

  .banner-sale__packs {
    -ms-grid-column-align: end;
        justify-self: end;
    padding-left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    margin-right: 15px;
    padding: 0 10px;
  }
}

@media (min-width: 1200px) {
  .banner-sale__packs {
    padding-right: calc(0px + 100 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 1300px) {
  .purpose__item {
    -webkit-transform: translateY(-33px);
        -ms-transform: translateY(-33px);
            transform: translateY(-33px);
  }

  .banner-sale__packs {
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    margin-right: 0;
  }
}

@media (min-width: 1450px) {
  .item-row-roadmap-left__bigpack-img {
    right: -250px;
  }

  .item-row-roadmap-left__minipack-img {
    right: -160px;
  }
}

@media (min-width: 1920px) {
  .main-party__image_bg {
    max-width: 1692px;
  }

  .main-party__image_raccoon {
    max-width: 766px;
  }

  .item-row-roadmap-right__item_big {
    height: 245px;
  }

  .item-row-roadmap-right__item_small {
    height: 377px;
  }

  .main__title {
    font-size: 321px;
  }

  .banner-sale__packs {
    -ms-grid-column-align: center;
        justify-self: center;
    padding-left: 100px;
  }
}

@media (max-width: 1600px) {
  .main__title {
    font-size: calc(80px + 170 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 1500px) {
  .popup-box__bigpack {
    top: 310px;
    right: 0;
  }

  .popup-box__bigpack img {
    width: 300px;
  }

  .popup-box__minipack {
    top: 380px;
    right: 150px;
  }

  .popup-box__minipack img {
    width: 300px;
  }

  .popup-box__lable {
    right: -50px;
  }
}

@media (max-width: 1300px) {
  .popup-box__bigpack {
    opacity: 0.1;
  }

  .popup-box__minipack {
    opacity: 0.4;
  }

  .popup-box__site {
    opacity: 0.4;
  }

  .popup-box__pullover {
    opacity: 0.4;
  }

  .popup-box__lable {
    opacity: 0.4;
  }
}

@media (max-width: 1182px) {
  .header__menu {
    padding-right: 50px;
  }
}

@media (max-width: 1182px) and (max-width: 1170px) {
  .header__menu {
    padding-right: calc(0px + 50 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .header__menu {
    padding-right: calc(0px + 150 * ((100vw - 320px) / 850));
  }

  .purpose__item {
    padding-left: calc(30px + 75 * ((100vw - 320px) / 850));
  }

  .purpose__title {
    margin-bottom: calc(40px + 30 * ((100vw - 320px) / 850));
  }

  .purpose__box-text p {
    line-height: calc(26px + 17 * ((100vw - 320px) / 850));
  }

  .roadmap__item {
    padding-top: calc(80px + 110 * ((100vw - 320px) / 850));
  }

  .banner-sale__date {
    font-size: calc(14px + 5.3 * ((100vw - 320px) / 850));
  }

  .banner-sale__sub-text {
    font-size: calc(20px + 15.3 * ((100vw - 320px) / 850));
  }

  .banner-sale__link {
    margin-right: calc(10px + 30 * ((100vw - 320px) / 850));
  }

  .banner-sale__link p {
    font-size: calc(14px + 23.4 * ((100vw - 320px) / 850));
  }

  .banner-sale__link p {
    padding-top: calc(8px + 5 * ((100vw - 320px) / 850));
  }

  .banner-sale__link p {
    padding-bottom: calc(8px + 5 * ((100vw - 320px) / 850));
  }

  .banner-sale__link p {
    padding-left: calc(5px + 12 * ((100vw - 320px) / 850));
  }

  .banner-sale__link p {
    padding-right: calc(5px + 12 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1100px) {
  .popup-box__money {
    opacity: 0.4;
  }

  .popup-box__raccoon {
    top: 300px;
    right: 60px;
  }

  .popup-box__raccoon img {
    width: 300px;
  }

  .popup-box__raccoon {
    opacity: 0.4;
  }

  .popup-box__dollars {
    opacity: 0.4;
  }

  .popup-box__many-dollars {
    opacity: 0.4;
  }

  .main__title p {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .item-main-party__text_btn {
    position: absolute;
    top: 102px;
    right: 10px;
  }

  .item-main-party__text_btn p {
    display: none;
  }

  .grid-party {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {
  .header__social {
    border-bottom: 1px solid #e0e0e0;
  }

  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__list {
    padding-bottom: 30px;
  }

  .menu__item {
    border-bottom: 1px solid #e0e0e0;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 28px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .item-row-roadmap-left__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 10px 5px;
  }

  .roadmap-text-box__text {
    max-width: 100px;
  }
}

@media (max-width: 900px) {
  .popup-box__many-dollars {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .item-row-roadmap-left__image {
    opacity: 0.4;
  }
}

@media (max-width: 479.98px) {
  .roadmap-text-box {
    padding: 0 5px;
  }

  .roadmap-text-box__text {
    max-width: 70px;
  }
}

@media (max-width: 450px) {
  .item-images-artists__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 140px;
            flex: 0 1 140px;
    height: 182px;
  }

  .item-images-artists__box-image {
    top: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1170px) {
  .menu__list {
    gap: calc(5px + 12 * ((100vw - 320px) / 850));
  }
}

@media (any-hover: hover) {
  .popup__close:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .header._light .menu__link:hover {
    color: #fd1629;
  }

  .header._dark .header__social-icon:hover::before {
    color: #fd1629;
  }

  .header._dark .menu__link:hover {
    color: #fd1629;
  }

  .header__logo:hover {
    background-color: #fd1629;
  }

  .header__social-icon:hover::before {
    color: #fd1629;
  }

  .menu__link:hover {
    background-color: #f5f4f2;
  }

  .item-main-party__arrow-next:hover {
    background-color: #c13540;
  }

  .item-images-artists__block:hover {
    background: rgba(193, 53, 65, 0.2);
  }

  .grid-party__item:hover {
    background-color: #000;
  }

  .grid-party__item:hover .grid-party__info {
    color: #fff;
  }

  .banner-sale__link:hover span {
    top: 0;
    left: 0;
  }

  .banner-sale__link:hover p {
    background-color: #ebe8e1;
  }
}

@media (max-height: 750px) {
  .main-party__image_raccoon {
    max-width: calc(80px + 520 * ((100vw - 320px) / 1600));
  }
}

._webp .popup__advertising{ background: url(../img/roadmap/advert_bg.webp) center/cover no-repeat; }